/* Login Css */
.Login_Body{
  width: 100%;
  height: 100%;
  background-image: url('../Image/login_background.jpeg');
  background-repeat: no-repeat;
  background-size : cover;

  min-width: 900px;
  min-height: 800px;
}

.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}
.shape:first-child{
    background: linear-gradient(
        #0030ff,
        #23a2f6
    );
    left: -80px;
    top: -80px;
}
.shape:last-child{
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );
    right: -30px;
    bottom: -80px;
}

.Login_Body *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.Login_Content{
  height: 520px;
  width: 400px;
  background-color: rgba(255,255,255,0.13);
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  padding: 50px 35px;

  font-family: 'Poppins',sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

.Login_Content>h3{
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}
.Login_Content>label{
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}

.Login_Content>input[type='text'], .Login_Content>input[type='password']{
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255,255,255,0.02);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
  color: rgb(255, 255, 255);
}
.Login_Content>input::placeholder{
    color: #e5e5e5;
}

.Login_Content>input[type='button']{
  margin-top: 50px;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

/* Home Css */
.Home_Header{
  width: 100%;
  height: 70px;
  background-color: white;
  border-bottom: 1px solid black;
  font-size: 20px;
}
.Home_Option{
  width: 100%;
  height: 100%;
}

.Home_Body{
  width: 100%;
  height: 100%;
}
